/* Затемнение фона шапки */
header {
    position: relative;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5); /* Затемнение */
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Социальные ссылки */
.social-links a {
    text-decoration: none;
    font-weight: bold;
}

.social-links a:hover {
    color: #77aaff !important;
}

/* Облако тегов */
.tag-cloud .badge {
    font-size: 1rem;
    padding: 0.5rem 1rem;
}